backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
cffi==1.6.0
coverage==4.1
cryptography==1.4
decorator==4.0.10
entrypoints==0.2.2
idna==2.1
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.3.0
jupyter-core==4.1.0
MarkupSafe==0.23
mistune==0.7.2
nbconvert==4.2.0
nbformat==4.0.1
ndg-httpsclient==0.4.1
nglview==0.6.2.3
nose==1.3.7
nose-warnings-filters==0.1.0
notebook==5.0.0
numpy==1.12.1
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.14
Pygments==2.1.3
pyOpenSSL==16.0.0
pytraj==1.0.9
pyzmq==15.2.0
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
terminado==0.6
tornado==4.3
traitlets==4.2.1
widgetsnbextension==2.0.0
